
div
{
    padding: 20px;
    line-height: 40px;
}
span
{
    margin: 20px;
    display: inline-table;
}

span[class^='btn']{
    background: black;
    color: white;
    border-radius: 2px;
    height: 40px;
    width: 150px;
    vertical-align: middle;
    text-align: center;
}
span[class^='btn']:active{
    background: grey;
}